$colors: (
    'common': (
        'white': #F8F9FF,
        'black': #0F183E,
        'black-2': #060E30,
        'black-3': #141C3E,
    ),
    'heading': (
        'primary': #0F183E,
    ),
    'grey': (
        '1':#F6F7F9,
    ),
    'text': (
        'body':#55585B,
    ),
    'theme': (
        '1': #0F183E,
    ),
    'border': (
        'primary': #EAEBED,
        'secondary': #F0F2F4,
    )
);

$white : #fff;
$black : #020B18;
$theme-primary : #0989FF;
$border-primary : #EAEBED;